<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <style type="text/css">
    p {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
  </style>
</head>

<body class="m-0">
  <div>
    <% if(authenticated) { %>
    <header class="bg-dark text-white">
      <div class="text-right mr-4">Hello, <%= user.firstName %> <%= user.lastName %></div>
    </header>
    <% } %>
    
    <main>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <h3>
            <p class="text-center">Grow your business, establish your brand,<br />
              and put your customers first.</p>
          </h3>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br />
            eiusmod tempor incididunt ut labore et dolore</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
            explicabo.
          </p>
          <p></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
          <blockquote>
            <h3>Nemo enim ipsam voluptatem quia voluptas sit.<br />
              aspernatur aut odit aut fugit.</h3>
          </blockquote>
                
          <% if (!authenticated) { %>
            <form method="POST" class="form-horizontal m-4 bg-light border border-info center">
              <fieldset class="offset-md-1">

                <legend>Submit your info to access the whitepaper</legend>

                <div class="form-group">
                  <label class="col-md-3 control-label" for="firstName">First name</label>
                  <input class="col-md-6" id="firstName" name="firstName" type="text" class="form-control input-md" />
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label" for="lastName">Last name</label>
                  <input class="col-md-6" id="lastName" name="lastName" type="text" class="form-control input-md" />
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label" for="jobTitle">Job title</label>
                  <input class="col-md-6" id="jobTitle" name="jobTitle" type="text" class="form-control input-md" />
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label" for="email">Email</label>
                  <input class="col-md-6" id="email" name="email" type="email" class="form-control input-md" />
                </div>
                
                <div class="form-group">
                  <label class="col-md-6"></label>
                  <button type="submit" class="btn btn-sm btn btn-primary col-md-3">Submit</button>
                </div>

              </fieldset>
            </form>
            <% } %>

            <% if (authenticated) { %>

              <div id="adobe-dc-view" style="height: 360px; width:100%;"></div>
              <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
              <script type="text/javascript">
                document.addEventListener("adobe_dc_view_sdk.ready", function () {
                  var adobeDCView = new AdobeDC.View({ clientId: "<%= process.env.PDF_EMBED_CLIENT_ID %>", divId: "adobe-dc-view" });
                  adobeDCView.registerCallback(
                    AdobeDC.View.Enum.CallbackType.EVENT_LISTENER,
                    function(event) {
                      console.log(event);
                    },
                    { enablePDFAnalytics: true }
                  );

                  adobeDCView.previewFile({
                    content: { location: { url: "<%= paper.pdf %>" } },
                    metaData: { fileName: "<%= paper.fileName %>" }
                  }, {
                    embedMode: "SIZED_CONTAINER",
                    showDownloadPDF: <%= permissions.showDownloadPDF %>,
                    showPrintPDF: <%= permissions.showPrintPDF %>,
                    showFullScreen: <%= permissions.showFullScreen %>});
                });
              </script>

              <% } %>

              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo.
              </p>
              <p></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id est laborum.</p>
              <div class="row">
                <div class="col-sm-6">
                  <p><i>Other articles you might like</i></p>
                </div>
              </div>
              <div class="row">
              <div class="col-sm-6">
                <h6>10 Quick Tips About Blogging</h6>
                <p>SEP 4, 2019</p>
                <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores
                  alias consequatur aut perferendis doloribus asperiores repellat.</p>
                <p>Read More</p>
              </div>
              <div class="col-sm-6">
                <h6>7 Best Examples of Beautiful Blog Design</h6>
                <p>SEP 8, 2019</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                  consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                <p>Read More</p>
              </div>
            </div>
            <p>
        </div>
    </main>
    <footer>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <p class="text-right">Bodea Inc. You're trusted partner since 2008</p>
        </div>
      </div>
    </footer>
  </div>
  </div>
</body>
</html>
