<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/font-awesome.min.css' />
    <style type="text/css">
      p {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
      }
    </style>
  </head>
  <body class="m-0">
    <% if (authenticated) { %>
    <header class="bg-dark text-white">
      <div class="text-right mr-4">Hello, <%= user.firstName %> <%= user.lastName%></div>
    </header>
    <% } %>
  
    <div>
      <main>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
           <h3>
              <p class="text-center">Grow your business, establish your brand,<br
              />
              and put your customers first.
              </p>
            </h3>
            <div>
              <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br />
                eiusmod tempor incididunt ut labore et dolore</p>
            </div>

            <% if (!authenticated) { %>
            <div class="row">
              <form method="POST" class="center-panel text offset-md-3 col-md-6 border">
                <fieldset class="offset-md-1">
                  <legend>Submit your info to<br/>access the whitepaper</legend>
                  <p><input name="firstName" placeholder="first name"/></p>
                  <p><input name="lastName" placeholder="last name"/></p>
                  <p><input name="jobTitle" placeholder="job title"/></p>
                  <p><input name="email" placeholder="email"/></p>
                  <p><button type="submit" class="btn btn-sm btn btn-primary">Submit</button></p>          
                </fieldset>
              </form>
            </div>
            <% } %>
            
            <% if (authenticated) { %>
              <div class="row align-items-center border border-primary">
                <div id="adobe-dc-view" style="width: 800px;"></div>
                <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
                <script type="text/javascript">
              document.addEventListener("adobe_dc_view_sdk.ready", function () {
                var adobeDCView = new AdobeDC.View({ clientId: "<%=process.env.PDF_EMBED_CLIENT_ID %>", divId: "adobe-dc-view" });
                adobeDCView.registerCallback(
                  AdobeDC.View.Enum.CallbackType.EVENT_LISTENER,
                  function(event) {
                    console.log(event);
                  },
                  { enablePDFAnalytics: true }
                );
                adobeDCView.previewFile({
                  content: { location: { url: "<%= paper.pdf %>" } },
                  metaData: { fileName: "<%= paper.fileName %>" }
                }, {
                  embedMode: "IN_LINE",
                  showDownloadPDF: <%= permissions.showDownloadPDF %>,
                  showPrintPDF: <%= permissions.showPrintPDF %>,
                  showFullScreen: <%= permissions.showFullScreen %>
                });
              });
              </script>
              <% } %>
            </div>
          </div>
      </main>
      <footer>
      <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
      <p class="text-center">Bodea Inc. Your trusted partner since 2008</p>
      </div>
      </div>
      </footer>
      </div>
    </div>
  </body>
</html>
