<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">
  </head>
  <body>
    <div>
      <header>
      </header>
      <main>
        <div class="container">
          <div class="center-panel">
            <h3>White Papers Available</h3>
            <div class="row">
              <% papers.forEach(function(paper){ %>
                <div id="hits" class="col-xs-12 col-sm-6 col-md-4 p-3 col">
                  <div class="shadow card">
                      <img class="card-img-top img-estate" src="<%= paper.pic %>"/>
                    <div class="card-body">
                      <h5 class="card-title"><span><%= paper.title %></span></h5>
                      <p class="card-text">
                        <b><%= paper.description %></b>
                      </p>
                      <a class="btn btn-sm btn btn-danger" 
                        target="_blank" href="/full-window/<%= paper.id %>">
                          <span type="button" ></span>
                          <span class="fa fa-file-pdf-o"></span>&nbsp;Full Window</button>
                      </a>
                      <a class="btn btn-sm btn btn-danger" 
                      target="_blank" href="/sized-container/<%= paper.id %>">
                        <span type="button" ></span>
                        <span class="fa fa-file-pdf-o"></span>&nbsp;Sized Container</button>
                      </a>
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>